<div class="Navcontainer">
  <div class="left">
    <nav>
      <ul class="nav">
        <li><a href="#">About</a></li>
        <li>
          <a href="#">ModelMaster</a>
          <ul>
            <li><a href="#">Maintain Catalogue Name</a></li>
            <li><a href="#">item</a></li>
            <li><a href="#">item</a></li>
            <li><a href="#">item</a></li>
          </ul>
        </li>
        <li>
          <a href="#">GWT PRICE</a>
          <ul>
            <li><a href="#">item a lonng submenu</a></li>
            <li>
              <a href="#">item</a>
              <ul>
                <li><a href="#">Ray</a></li>
                <li><a href="#">Veronica</a></li>
                <li><a href="#">Bushy</a></li>
                <li><a href="#">Havoc</a></li>
              </ul>
            </li>
            <li><a href="#">item</a></li>
            <li><a href="#">item</a></li>
          </ul>
        </li>
        <li><a href="#">Reviews</a></li>
        <li>
          <a href="#">GWT MODELS</a>
          <ul>
            <li><a href="#">item</a></li>
            <li><a href="#">item</a></li>
            <li><a href="#">item</a></li>
            <li><a href="#">item</a></li>
          </ul>
        </li>
        <li><a href="#">MY ACCOUNT</a></li>
      </ul>
    </nav>
  </div>
  <div class="right"></div>
</div>
