:host {
  --home-container-padding: 24px;

  --home-container-margin-top: 120px;
  --home-container-margin-bottom: 200px;

  .homeContainer {
    overflow: hidden;
    overflow-y: scroll;
    padding: var(--home-container-padding);
    margin-top: var(--home-container-margin-top);
    margin-bottom: var(--home-container-margin-bottom);
  }
}
